@using OnePrice.Domain.Enums;
@using OnePrice.UI.Models.CommonDTOs;
@using OnePrice.UI.Models.PostDTOs;
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;

@model SearchPostDisplayViewModel
@{
	ViewData["Title"] = "Posts";
}

@{
	await Html.RenderPartialAsync("_SearchPartial", Model.Filters);
}

@if (Model.Posts.Count() == 0)
{
	<h1>No posts match your search criteria</h1>
	<p>We couldn't find any posts that match your search term or category.</p>
	<a href="/">
		Return to the main page
	</a>
}


<div class="container-lg mt-5 col-md-12">

	@foreach (PostDisplayDTO p in Model.Posts)
	{
		await Html.RenderPartialAsync("_LongPostPartial", p);
	}

</div>

<div class="justify-content-center align-items-center">
	<p>
		Page @(Model.Posts.PageCount < Model.Posts.PageNumber ? 0 : Model.Posts.PageNumber) of @Model.Posts.PageCount
	</p>


	@Html.PagedListPager(
	Model.Posts,

	page => Url.Action("Posts", new
	{
	page = page,
	search = Model.Filters.Search,
	category = Model.Filters.Category,
	currency= Model.Filters.Currency,
	minPrice= Model.Filters.MinPrice,
	maxPrice=Model.Filters.MaxPrice
	}),
	PagedListRenderOptions.Classic
	)

</div>
