
<ul class="navbar-nav">

	@{
		if (User.Identity.IsAuthenticated)
		{
			<li class="nav-item">
				<a class="nav-link text-dark" asp-controller="Identity" asp-action="Logout">@_localizer["Logout"]</a>
			</li>
		}
		else
		{
			<li class="nav-item">
				<a class="nav-link text-dark" asp-controller="Identity" asp-action="Login">@_localizer["Login"]</a>
			</li>
		}
	}
</ul>
