
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #f2f4f5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lumanosimo', cursive;
    font-family: 'Roboto', sans-serif;
}

.cat-img {
    object-fit: cover;
    width: 160px;
    height: 160px;
    max-height: 160px;
}

.cat-img-sm {
    object-fit: cover;
    width: 80px;
    height: 80px;
    max-height: 80px;
}

.container-category {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.cat-wrap {
    text-align: center;
    width: 30%;
    margin: 10px;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .cat-wrap {
        width: 100%;
    }
}


/*Post/add styles*/

.img-container {
    position: relative;
    background-color: rgb(250, 247, 247);
    width: 350px;
    height: 350px;
    border: 2px dashed #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
}

@media (max-width: 980px) {
    .img-container {
        width: 250px;
        height: 250px;
    }
}

.img-container input[type="file"] {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}


.prompt-text {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: #333;
    pointer-events: none;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.img200 {
    height: 250px;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.title-wrapper {
    display: flex;
    justify-content: space-between;
}

.img-contain {
    object-fit: contain;
}

.img-cover {
    object-fit: cover;
}

.card-clickable {
    transition: transform 0.2s;
    text-decoration: none; /* Remove underline */
    color: inherit; /* Use the default text color */
}

    .card-clickable:hover {
        transform: scale(1.05);
        cursor: pointer;
    }
/*Comments, user pfp*/

.bg-off-white {
    background-color: rgb(250, 247, 247);
}

.user-info {
    display: flex;
    align-items: center;
}

.user-profile-picture {
    width: 64px;
    height: 64px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px; /* Adjust as needed for spacing */
}

    .user-profile-picture img {
        width: 64px;
        height: 64px;
        object-fit: cover;
        object-position: center center;
    }

.comment-input {
    width: 97%;
    resize: none;
    overflow: hidden;
}


/*Go to top button*/

#scrollUpButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
}

    #scrollUpButton:hover {
        background-color: #0056b3;
    }

.btn-underline {
    position: relative;
    line-height: 18px;
    margin: 0;
    padding: 8px 16px;
    text-decoration: none;
    color: rgb(64, 99, 103);
    display: inline-block;
    border: none;
    border-bottom: 1px solid rgb(127, 151, 153);
    transition: border-bottom 0.09s ease;
    white-space: nowrap;
}

    .btn-underline.active,
    .btn-underline:hover {
        line-height: 18px;
        border-bottom: 2px solid rgb(0, 47, 52);
        color: rgb(0, 47, 52);
        font-weight: 700;
    }
